footer#main-footer
	.container-fluid
		.row
			.col-md-3
				h3.text-center 
					span Social
					|  Media
				ul#footer-social-media
					li
						a(href="#")
							i.fa.fa-twitter-square.fa-3x
					li
						a(href="#")
							i.fa.fa-facebook-square.fa-3x
					li
						a(href="#")
							i.fa.fa-youtube-square.fa-3x
			.col-md-3
				h3.text-center
					span Twitter
					|  Feed
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, doloribus nam, ullam placeat necessitatibus et quae, nihil sunt odit velit ipsum, accusamus doloremque qui harum atque repellendus voluptatum repellat? Labore!
			.col-md-3
				h3.text-center
					span Contact
					|  Us
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, amet. Iure harum labore nostrum fuga libero minima molestias ex soluta ab ullam, provident nesciunt veniam commodi dolore nisi, quos expedita perferendis adipisci! Dolore quidem tempore, temporibus! Quibusdam deleniti hic suscipit.
			.col-md-3
				h3.text-center
					span Search
					|  Site
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore blanditiis facilis id, nemo laudantium itaque.
#footer-credits
	.container-fluid
		.row
			.col-lg-12
				p.text-center Made with &hearts; by 
					a(href="http://pocholabs.com", target="_blank") PochoLabs.


script(src="src/js/jquery.min.js")

script(src="src/js/bootstrap.js")
script(src="src/js/bootstrap-sprockets.js")


script(src="src/js/jquery.slim.js")
script(src="src/js/navigation.js")
script(src="src/js/owl.carousel.js")
script(src="src/js/skip-link-focus-fix.js")

script(src="src/js/main.js")
