doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		title KDIF | Welcome
		link(rel='stylesheet', href='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
		link(rel="stylesheet" href="sass/theme.css")
		link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
		//link(href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet', type='text/css')
	body
		style.
			.fi-social-facebook{color:dodgerblue;font-size:2rem;}.fi-social-youtube{color:red;font-size:2rem;}.fi-social-pinterest{color:darkred;font-size:2rem;}i.fi-social-instagram{color:brown;font-size:2rem;}i.fi-social-tumblr{color:navy;font-size:2rem;}.fi-social-twitter{color:skyblue;font-size:2rem;}
		header
			.top-bar
				.top-bar-left
					ul.menu
						li
							a(href='#') One
						li
							a(href='#') Two
						li
							a(href='#') Three
						li
							a(href='#') Four
				.top-bar-right
					ul.menu
						li
							input(type='search', placeholder='Search')
						li
							button.button(type='button') Search
			.row
				.medium-4.columns
					img(src='http://placehold.it/450x183&text=LOGO', alt='company logo')
				.medium-8.columns
					img(src='http://placehold.it/900x175&text=Responsive Ads - ZURB Playground/333', alt='advertisement for deep fried Twinkies')
			br
			.title-bar(data-responsive-toggle='main-menu', data-hide-for='medium')
				button.menu-icon(type='button', data-toggle='')
				.title-bar-title Menu
			#main-menu.top-bar
				ul.menu.vertical.medium-horizontal.expanded.medium-text-center(data-responsive-menu='drilldown medium-dropdown')
					li.has-submenu
						a(href='#') Tech
						ul.submenu.menu.vertical(data-submenu='')
							li
								a(href='#') One
							li
								a(href='#') Two
							li
								a(href='#') Three
					li.has-submenu
						a(href='#') Energy
						ul.submenu.menu.vertical(data-submenu='')
							li
								a(href='#') One
							li
								a(href='#') Two
							li
								a(href='#') Three
					li.has-submenu
						a(href='#') Space
						ul.submenu.menu.vertical(data-submenu='')
							li
								a(href='#') One
							li
								a(href='#') Two
							li
								a(href='#') Three
					li.has-submenu
						a(href='#') Medicine
						ul.submenu.menu.vertical(data-submenu='')
							li
								a(href='#') One
							li
								a(href='#') Two
							li
								a(href='#') Three
					li.has-submenu
						a(href='#') Robotics
						ul.submenu.menu.vertical(data-submenu='')
							li
								a(href='#') One
							li
								a(href='#') Two
							li
								a(href='#') Three
					li.has-submenu
						a(href='#') Tesla
						ul.submenu.menu.vertical(data-submenu='')
							li
								a(href='#') One
							li
								a(href='#') Two
							li
								a(href='#') Three
